* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	--bg-prime: #FFE08F;
	--bg-second: #FF6C0C;
	--bg-red: #BF1A1A;
	--bg-blue: #060771;

	--fg-prime: #ffffff;
	--fg-second: #2B2A2A;
}


.hidden {
	display: none !important;
}


.wrapper {
	max-width: 1024px;
	height: 600px;
	margin: 4rem auto;
	background-color: var(--bg-prime);
	box-shadow: 2px 2px 24px 5px #333;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}


.start-screen {
	margin-top: -4rem;
}

.start-screen h1 {
	background-color: var(--bg-blue);
	color: var(--fg-prime);
	padding: 0.5em;
}

.start-screen-input {
	margin-top: 1rem;
	width: 300px;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.start-screen-input > .warning {
	color: var(--bg-red);
}

.start-screen-input > label {
	font-weight: bold;
	font-size: 1.5rem;
}

.start-screen-input > input,
.start-screen-input > button {
	padding: 0.5em 1em;
}

.game-screen {
	display: flex;
	justify-content: center;
	width: 100%;
}

.score-board {
	background-color: var(--bg-second);
	width: 40%;
	justify-content: center;
}

.game-board {
	width: 500px;
	height: 500px;
	border: 1px solid;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.cell {
	display: grid;
	place-content: center;
	font-size: 4rem;
	border: 1px solid;
}
