* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.wrapper {
	max-width: 1024px;
	margin: 4rem auto;
}

.board {
	width: 500px;
	height: 500px;
	border: 1px solid;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
}

.cell {
	display: grid;
	place-content: center;
	font-size: 4rem;
	border: 1px solid;
}
