* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	--bg-prime: #E8F1F2;
	--bg-second: #001A23;
	--fg-prime: #0B100D;
	--fg-second: #F3F7F5;
}

html {
	background-color: var(--bg-prime);
	font-family: Roboto, sans-serif;
}

.hidden {
	display: none !important;	
}

input, button {
	padding: 0.5em 1em;
}

button {
	cursor: pointer;
}

input {
	outline: none;
	border: none;
	border-bottom: 1px solid var(--bg-second);
	background-color: transparent;
}

.wrapper {
	max-width: 1024px;
	height: 800px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}


#start-screen {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

#start-screen header {
	background-color: var(--bg-second);
	color: var(--fg-second);
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}

#start-screen div {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

#game-screen #game-board {
	width: 500px;
	height: 500px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 0.5rem;
	font-family: "Bitcount Single", Arial;
	font-size: 7rem;
}


#game-screen .current-turn {
	font-weight: bold;
	font-size: 2rem;
	text-align: center;
	margin-bottom: 1rem;
}

#game-board .cell {
	border: 1px solid;
	display: flex;
	justify-content: center;
	align-items: center;
}

#game-over-screen {
	font-size: 2rem;
	text-align: center;
	font-weight: bold;
}
